@media only screen and (max-width: 768px) {
    /* For mobile phones */
    [class*="col-"] {
      width: 100%;
    }

    .time {
        text-align: center;
        padding: 1px;
        color: white;
        background-color: rgb(143, 36, 36);
    }

    
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

* {
    box-sizing: border-box;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(216, 211, 211);
}

ul {
    list-style-type: none;
    float: left;
    margin-top: 35px;
}

.bayern {
    margin-top: 6px;
    margin-left: 40px;
    padding: 6px;
    float: left;
    width: 85px;
}

.nv {
    width: 100%;
    height: 14vh;
    position: relative;
}

.nv li {
    color: rgb(167, 42, 42);
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.nv li a {
    color: rgb(167, 42, 42);
    margin-right: 30px;
    text-decoration: none;
}

.images {
    margin-top: 40px;
}

.time {
    padding: 1px;
    color: white;
    background-color: rgb(143, 36, 36);
}

.time p {
    padding-left: 10px;
}

.details {
    background-color: rgb(209, 12, 54);
}

.parag {
    font-size: 120%;
    padding: 5px 0 5px 100px;
}

.rbleipzig {
    padding-left: 100px;
}

.leipzig {
    width: 180px;
    padding-left: 80px;
}

.header {
    padding-left: 105px;
    padding-bottom: 25px;
}

.bayern1 {
    width: 170px;
    padding-left: 90px;
}

.pic {
    margin-top: 60px;
    color: rgb(167, 42, 42);
    background-color: white;
    padding: 1px;
}

.photos {
    padding-top: 10px;
    padding-left: 40px;
}

.train {
    width: 70%;
    padding-left: 40px;
    padding-bottom: 20px;
}

.team, .champ {
    width: 70%;
    padding-left: 40px;
    padding-bottom: 20px;
}

.cups {
    padding-top: 50px;
    padding-left: 40px;
}

.flexbox {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.cup-box {
    margin-left: 2%;
    margin-bottom: 100px;
}

.cup-box .cup-item {
    padding: 15px;
}

.cup-item {
    text-align: center;
}

.cup-item img {
    width: 120px;
    height: 120px;
}

.cup-item p {
    font-size: 30px;
}

.end {
    background-color: rgb(211, 11, 45);
    padding-top: 60px;
    color: white;
    text-align: center;
}


.flexbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.end-box .end-item {
    padding: 15px;
}

.end-item {
    text-align: center;
}

.end-item img {
    width: 40px;
    height: 40px;
}

.end-item p {
    font-size: 30px;
}

.divImg {
    position:absolute;
    left: 50%
}

.divImg img { 
    margin-left: -50%;
    margin-top: -50%;
}

.flexbox1 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.company-box {
    margin-left: 30%;
    margin-bottom: 100px;
}

.company-box .company-item {
    padding: 15px;
}

.company-item {
    text-align: center;
}

.company-item img {
    width: 120px;
    height: 120px;
}

.news {
    margin-top: 100px;
    display: inline-block;
    margin-bottom: 50px;
}

.gallery {
    background-color: white;
    margin: 5px;
    float: left;
    width: 350px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    color: black;
    font-size: 22px;
}

.squad img {
    width: 100%;
}

.col img {
    width: 4%;
}

.data {
    margin-top: 50px;
    /*background-color: white;*/
}

table {
    color: black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #bdbbbb67;
}