@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="col-"] {
    width: 100%;
  }

  .time {
      text-align: center;
      padding: 1px;
      color: white;
      background-color: rgb(143, 36, 36);
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(216, 211, 211);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
ul {
  list-style-type: none;
  float: left;
  margin-top: 0px;
}*/

.bayern {
  margin-top: 10px;
  margin-left: 0px;
  padding: 6px;
  width: 80px;
  float: left;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(211, 11, 45);
}

ul.topnav li {
  float: left;
}


ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 28px;
  /*border-right: 1px solid #bbb;*/
}


ul.topnav li a:hover:not(.active) {
  background-color: black;
}

ul.topnav li a.active {
  background-color: #4CAF50;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  /*ul.topnav li a {border-bottom: 1px solid #bbb;}*/
  ul.topnav li img {display: none;}
}

/*
.nv {
  width: 100%;
  height: 14vh;
  position: relative;
  background-color: black;
}

.nv li {
  color: rgb(167, 42, 42);
  margin-top: 40px;
  margin-left: -5px;
  font-weight: bold;
  font-size: 20px;
  float: left;
}

.nv li a {
  color: rgb(167, 42, 42);
  margin-right: 30px;
  text-decoration: none;
  padding: 10px;
}

.nv li a:hover {
  background-color: white;
}*/

.images {
  margin-top: 40px;
}

.time {
  padding: 1px;
  color: white;
  background-color: rgb(143, 36, 36);
}

.time p {
  padding-left: 10px;
}

.details {
  background-color: rgb(209, 12, 54);
}

.parag {
  font-size: 120%;
  padding: 5px 0 5px 100px;
}

.rbleipzig {
  padding-left: 100px;
}

.leipzig {
  width: 180px;
  padding-left: 80px;
}

.vs {
  padding-left: 105px;
  padding-bottom: 25px;
}

.bayern1 {
  width: 170px;
  padding-left: 90px;
}

.pic {
  margin-top: 60px;
  color: rgb(167, 42, 42);
  background-color: white;
  padding: 1px;
}

.photos {
  padding-top: 10px;
  padding-left: 40px;
}

.train {
  width: 70%;
  padding-left: 40px;
  padding-bottom: 20px;
}

.team, .champ {
  width: 70%;
  padding-left: 40px;
  padding-bottom: 20px;
}

.cups {
  padding-top: 50px;
  padding-left: 40px;
}

.flexbox {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.cup-box {
  margin-left: 2%;
  margin-bottom: 100px;
}

.cup-box .cup-item {
  padding: 15px;
}

.cup-item {
  text-align: center;
}

.cup-item img {
  width: 120px;
  height: 120px;
}

.cup-item p {
  font-size: 30px;
}

.end {
  background-color: rgb(211, 11, 45);
  padding-top: 60px;
  color: white;
  text-align: center;
}


.flexbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.end-box .end-item {
  padding: 15px;
}

.end-item {
  text-align: center;
}

.end-item img {
  width: 40px;
  height: 40px;
}

.end-item p {
  font-size: 30px;
}

.divImg {
  position:absolute;
  left: 50%
}

.divImg img {
  margin-left: -50%;
  margin-top: -50%;
}

.flexbox1 {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.company-box {
  margin-left: 30%;
  margin-bottom: 100px;
}

.company-box .company-item {
  padding: 15px;
}

.company-item {
  text-align: center;
}

.company-item img {
  width: 120px;
  height: 120px;
}

.news {
  margin-top: 100px;
  display: inline-block;
  margin-bottom: 100px;
}

.gallery {
  background-color: white;
  margin: 5px;
  float: left;
  width: 350px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  color: black;
  font-size: 22px;
}

.squad img {
  width: 100%;
    width: 100%;
    margin-top: 40px;
}

.col img {
  width: 4%;
}

.data {
  margin-top: 50px;
  background-color: white;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px; 
    margin-top: 50px;
    padding: 1px;
    color: rgb(56, 56, 56);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #bdbbbb67;
}

.contain {
  margin-top: 40px;
}

.season {
    color: rgb(167, 42, 42);
}

.standing table {
    color: rgb(56, 56, 56);
}

.col {
    text-align: center;
}

.contain {
    background-color: white;
    padding: 1px;
}

.stad {
  color: black;
  background-color: white;
  padding-bottom: 80px;
}

.stadium {
  color: rgb(27, 61, 109);
  margin-top: 50px;
  padding-left: 10px;
  font-size: 30px;
}

.stadflexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stad-box {
  margin-left: 2%;
  margin-bottom: 100px;
}

.stad-box .stad-item {
  padding: 15px;
}

.stad-item {
  text-align: center;
}

.stad-item img {
  width: 90%;
}

.out, .in {
  display: block;
  text-align: center;
  color: rgb(27, 61, 109);
}

.stad p, h3 {
  text-align: center;
  font-size: 20px;
}

.shirt {
  margin-top: 40px;
  background-color: white;
  text-align: center;
  color: black;
  padding-bottom: 150px;
}

.shirt img {
  width: 360px;
}

.shirt h1 {
  padding-top: 50px;
}

.line {
  width: 50%;
}

.price {
  color: rgb(167, 42, 42);
  display: inline-block;
  width: 140px;
  text-align: right;
}

.button {
  background-color: rgb(167, 42, 42);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.away {
  margin-bottom: 45px;
}

.header {
  background: linear-gradient(60deg, rgb(192, 190, 190), rgb(128, 0, 0), rgb(192, 192, 192));
  text-align: center;
  color: white;
  width: 300px;
  margin: 70px auto 0px;
  border: 1px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
}

.form, .form1 {
  width: 300px;
  background: white;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 0px 0px 20px 20px;
}

.form1 .inputs label {
  display: block;
  color: black;
  margin-bottom: 10px;
}

.form1 .inputs input {
  margin-bottom: 20px;
  width: 70%;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.form .inputs label {
  display: block;
  color: black;
  margin-bottom: 10px;
}

.form .inputs input {
  margin-bottom: 10px;
  width: 70%;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.button {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: linear-gradient(60deg, rgb(192, 190, 190), rgb(128, 0, 0), rgb(192, 192, 192));
  border: none;
  border-radius: 5px;
}

.member {
  color: black;
}

.member a {
  text-decoration: none;
  color: rgb(167, 42, 42);
}
