@media only screen and (max-width: 768px) {
  /* For mobile phones */
  [class*="col-"] {
    width: 100%;
  }

  .time {
      text-align: center;
      padding: 1px;
      color: white;
      background-color: rgb(143, 36, 36);
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(216, 211, 211);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

/*
ul {
  list-style-type: none;
  float: left;
  margin-top: 0px;
}*/

.bayern {
  margin-top: 10px;
  margin-left: 0px;
  padding: 6px;
  width: 80px;
  float: left;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(211, 11, 45);
}

ul.topnav li {
  float: left;
  font-size: 20px;
}


ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 28px;
  /*border-right: 1px solid #bbb;*/
}

ul.topnav li a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.322);
}

ul.topnav li a:visited {
  text-decoration: none;
}

ul.topnav li a.active {
  text-decoration: none;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }

  ul.topnav li img {
    display: none;
  }
}

/*
.nv {
  width: 100%;
  height: 14vh;
  position: relative;
  background-color: black;
}

.nv li {
  color: rgb(167, 42, 42);
  margin-top: 40px;
  margin-left: -5px;
  font-weight: bold;
  font-size: 20px;
  float: left;
}

.nv li a {
  color: rgb(167, 42, 42);
  margin-right: 30px;
  text-decoration: none;
  padding: 10px;
}

.nv li a:hover {
  background-color: white;
}*/

.images {
  margin-top: 40px;
}

.time {
  padding: 1px;
  color: white;
  background-color: rgb(143, 36, 36);
}

.time p {
  padding-left: 10px;
}

.details {
  background-color: rgb(209, 12, 54);
}

.parag {
  font-size: 120%;
  padding: 5px 0 5px 100px;
}

.rbleipzig {
  padding-left: 100px;
}

.leipzig {
  width: 180px;
  padding-left: 80px;
}

.vs {
  padding-left: 105px;
  padding-bottom: 25px;
}

.bayern1 {
  width: 170px;
  padding-left: 90px;
}

.pic {
  margin-top: 60px;
  color: rgb(167, 42, 42);
  background-color: white;
  padding: 1px;
}

.photos {
  padding-top: 10px;
  padding-left: 40px;
}

.train {
  width: 70%;
  margin-left: 40px;
  margin-bottom: 30px;
  animation: t 3s infinite alternate;
}

/* animation for images */
@keyframes t {
  0% {
    border-radius: 20px;
  }

  25% {
    border-radius: 40px;
  }

  50% {
    border-radius: 60px;

  }

  75% {
    border-radius: 80px;

  }

  100% {
    border-radius: 100px;
  }
}

.team, .champ {
  width: 70%;
  margin-left: 40px;
  margin-bottom: 30px;
  animation: t 3s infinite alternate;
}

.cups {
  padding-top: 50px;
  padding-left: 40px;
}

.flexbox {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.cup-box {
  margin-left: 2%;
  margin-bottom: 100px;
}

.cup-box .cup-item {
  padding: 15px;
}

.cup-item {
  text-align: center;
}

.cup-item img {
  width: 120px;
  height: 120px;
}

.cup-item p {
  font-size: 30px;
}

.end {
  background-color: rgb(211, 11, 45);
  padding-top: 60px;
  color: white;
  text-align: center;
}


.flexbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.end-box .end-item {
  padding: 15px;
}

.end-item {
  text-align: center;
}

.end-item img {
  width: 40px;
  height: 40px;
}

.end-item p {
  font-size: 30px;
}

.divImg {
  position:absolute;
  left: 50%
}

.divImg img {
  margin-left: -50%;
  margin-top: -50%;
}

.flexbox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.company-box {
  margin-bottom: 100px;
}

.company-box .company-item {
  padding: 15px;
}

.company-item {
  text-align: center;
}

.company-item img {
  width: 90px;
  height: 60px;
}

.news {
  margin-top: 100px;
  display: inline-block;
  margin-bottom: 100px;
}

.gallery {
  background-color: white;
  margin: 5px;
  float: left;
  width: 350px;
}

.gallery img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.gallery img:hover {
  opacity: 1;
}

.desc {
  padding: 15px;
  text-align: center;
  color: black;
  font-size: 22px;
}

.squad img {
  width: 100%;
    width: 100%;
    margin-top: 40px;
}

.col img {
  width: 4%;
}

.data {
  margin-top: 50px;
  background-color: white;
  
}

/* tables start here */
.table1, .standing table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    width: 90vw;
    margin: 50px auto 50px auto;
    color: rgb(56, 56, 56);
}

.table1 td , .standing table td, .table1 th {
  border: 1px solid #c0c0c0;
  text-align: left;
  padding: 10px;
  font-size: 15px;
}

.table1, .standing table tr:nth-child(even) {
  background-color: #bdbbbb67;
}
/* end here */
.contain {
  margin-top: 40px;
}

.season {
    color: rgb(167, 42, 42);
    margin-left: 4.3vw;
}

.standing table {
    color: rgb(56, 56, 56);
}

.col {
    text-align: center;
}

.contain {
    background-color: white;
    padding: 1px;
}

.stad {
  color: black;
  background-color: white;
  padding-bottom: 80px;
}

.stadium {
  color: rgb(27, 61, 109);
  margin-top: 50px;
  padding-left: 10px;
  font-size: 30px;
}

.stadflexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stad-box {
  margin-left: 2%;
  margin-bottom: 100px;
}

.stad-box .stad-item {
  padding: 15px;
}

.stad-item {
  text-align: center;
}

.stad-item img {
  width: 90%;
  animation: t 3s infinite alternate;
}

.out, .in {
  display: block;
  text-align: center;
  color: rgb(27, 61, 109);
}

.stad p, .stad h3 {
  text-align: center;
  font-size: 20px;
}

.shirt {
  margin-top: 40px;
  background-color: white;
  text-align: center;
  color: black;
  padding-bottom: 150px;
}

.shirt img {
  width: 360px;
}

.shirt h1 {
  padding-top: 50px;
}

.line {
  width: 50%;
}

.price h3 {
  color: rgb(167, 42, 42);
  display: inline-block;
  width: 140px;
  align-items: right;
}

.button, .button2 {
  background-color: rgb(167, 42, 42);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.away {
  margin-bottom: 45px;
}
/*
.header {
  background: linear-gradient(60deg, rgb(192, 190, 190), rgb(128, 0, 0), rgb(192, 192, 192));
  text-align: center;
  color: white;
  width: 300px;
  margin: 70px auto 0px;
  border: 1px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
}

.form, .form1 {
  width: 300px;
  background: white;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 120px;
}

.form1 .inputs label {
  display: block;
  color: black;
  margin-bottom: 10px;
}

.form1 .inputs input {
  margin-bottom: 20px;
  width: 70%;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.form .inputs label {
  display: block;
  color: black;
  margin-bottom: 10px;
}

.form .inputs input {
  margin-bottom: 10px;
  width: 70%;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
*/
.button {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: linear-gradient(60deg, rgb(192, 190, 190), rgb(128, 0, 0), rgb(192, 192, 192));
  border: none;
  border-radius: 5px;
}

.member a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
}

.member a:hover {
  opacity: 1;
}

.list {
  display: table;
  margin: 0 auto;
  font-size: 18px;
}

.error {
  color: red;
}

.back {
  height: 10px;
}

.header {
  font-size: 30px;
}

.logForm {
  margin: 8% 0 0 20%;
}

.form input {
  background: transparent;
  color: white;
  padding: 8px;
  padding-right: 20%;
  border: 3px solid white;
  transition: 0.5s;
  outline: none;
  margin-bottom: 20px;
}

.form input:focus {
  border: 3px solid rgb(104, 104, 104);
}

::placeholder {
  color: white;
}

.button1 {
  margin-top: 20px;
  padding: 15px;
  padding-right: 12%;
  color: rgb(151, 17, 17);
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5px;
  opacity: 0.6;
  transition: 0.3s;
}

.button1:hover {
  opacity: 1;
}

.button2 {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: linear-gradient(60deg, rgb(192, 190, 190), rgb(128, 0, 0), rgb(192, 192, 192));
  border: none;
  border-radius: 5px;
  margin-right: 4px;
}

.sidenav {
  -moz-box-shadow: -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow: -3px 0 5px 0 #555;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  opacity: 0.8;
}

.sidenav a:hover {
  opacity: 1;
}

.sidenav .closebtn {
  color: rgb(151, 17, 17);
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*right nav / shadow*/

.table2 {
  margin-left: 20px;
  color: white;
  border-collapse: collapse;
  background-color: #b3b3b3;
  margin-top: 68px;
}

.table2 td, .table2 th {
  font-size: 16px;
  padding-left: 10px;
  border: 2px solid white;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even){
  background-color: #c5c5c5
}

.table2 th {
  background-color: rgb(167, 42, 42);
  color: white;
}

.sidenav h2, .sidenav h3 {
  color: rgb(167, 42, 42);
  float: left;
  margin-left: 20px;

}


.hr1 {
  margin-top: 20px;
}

.total {
  float: right;
  margin-right: 20px;
}

.vat {
  float: left;
  clear: left;
  margin-left: 20px;
  color: #555;
}

.cart {
  float: left;
  clear: both;
  width: 40%;
  margin-left: 20px;
  padding: 8px;
  background-color: rgb(167, 42, 42);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  
}

.checkout {
  float: right;
  width: 40%;
  margin-right: 20px;
  padding: 8px;
  background-color: rgb(167, 42, 42);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.payHeader img {
  width: 100px;
  display: block;
  margin: 20px auto 0 auto;
}

.payhr {
  border: 1px solid rgb(167, 42, 42);
  margin-top: 15px;
}

.payhr1 {
  width: 30%;
  margin-left: 55px;
}

.yours h1 {
  color: rgb(167, 42, 42);
  margin: 50px;
}

.home img {
  width: 150px;
  float: left;
  margin-left: 20px;
}

.h3home {
  clear: both;
  margin-left: 150px;
}

.hrhome {
  clear: both;
  width: 30%;
  margin-left: 50px;
}

.payhr2 {
  width: 30%;
  margin-left: 50px;
  margin-top: 30px;
}

.hrhome1 {
  clear: both;
  width: 30%;
  margin-left: 50px;
  margin-bottom: 30px;
}

.home1 img {
  width: 120px;
  float: left;
  margin-left: 35px;
}

.cartform {
  border: 1px solid black;
  color: black;
  margin-left: 2%;
  padding: 10px;
  margin-bottom: 50px;
}

.cartform label {
  margin: 20px;
}

.cartform select {
  margin-left: 50px;
}

.cartform p {
  padding-left: 20px;
}

.cartform hr {
  width: 30%;
  margin-left: 20px;
}

.cartform h5 {
  clear: both;
  margin-left: 20px;
}

.cartformh3 {
 float: right;
  margin-right: 82.5%;
  color: rgb(167, 42, 42);
}

.check {
  margin-left: 18px;
  margin-bottom: 20px;
  width: 200px;
  padding: 8px;
  background-color: rgb(167, 42, 42);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

th {
  border: 1px solid #b3b3b3;
}

.flexbox3 {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.pay-box {
  margin-left: 100px;

}

.pay-box .pay-item {
  padding: 15px;
}

.pay-item1 {
  margin-left: 5%;
}

.pay-item, .pay-item1 {
  text-align: center;
}

.payheader {
  margin-left: 110px;
  margin-top: 100px;
  font-size: 30px;

}

.form5 {
  margin-left: 205px;
}

.pay1 h1{
  color: white;

}

.payheader1 {
  margin-left: 7%;
  margin-top: 100px;
  font-size: 30px;
}

.member1 a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  margin-left: 7%;
  font-size: 20px;
}

.member1 a:hover {
  opacity: 1;
}

.tot {
  margin-left: 40px;
  display: inline-block;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.back h3 {
  color: rgb(167, 42, 42);
  margin-left: 20px;
}

.back a {
  text-decoration: none;
}

.here a {
  text-decoration: none;
  color: rgb(167, 42, 42);
}